 <%= form_with model: @saving do |f| %>
  <% if @saving.errors.any? %>
  <div class="flash-message">
      <h2 class="flash-message-text-big"><%= @saving.errors.count %>件のエラーがあります</h2>
      <ul class="flash-message-text">
        <% @saving.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  </div>
  <% end %>

 <div class="form-group">
    <%= f.label :title, '我慢したもの', class: "form-label" %>
    <%= f.text_field :title, class: "form-input" %>
 </div>

 <div class="form-group">
    <%= f.label :amount, '金額', class: "form-label" %>
    <%= f.number_field :amount, class: "form-input" %>
 </div>

 <div class="form-group">
    <%= f.label :saved_at, '日付', class: "form-label" %>
    <%= f.date_field :saved_at, class: "form-input" %>
 </div>

 <%= f.submit '登録', class: 'btn' %>
 <% end %>