<div class="container-index">

    <div class="title">
      今月の我慢貯金額
    </div>

    <div class="sum-number-container">
        <div class="sum-number">
         ¥ <%= number_with_delimiter(@monthly_total) %>
        </div>

      <%= image_tag "saving_pig.png", alt: "豚の貯金箱", class: 'img-pig' %>
    </div>

    <div class="btn-add-container">
     <%= link_to '追加', new_saving_path, class: 'btn-add' %>
    </div>

    <% @saving.each do |saving| %>
     <div class="form-group-index">
        
         <div class="form-label-amount">
          ¥<%= number_with_delimiter(saving.amount) %>
         </div>

         <div class="form-label-title">
            <%= saving.title %>
         </div>

         <div class="form-label-date">
            <%= saving.saved_at.strftime('%Y/%m/%d') %>
         </div>

          <%= link_to '詳細', saving_path(saving), class: 'btn-show' %>
      </div>
    <% end %>
</div>