<div class="container">
 <h1 class="title">貯金記録詳細</h1>

 <div class="form-group">
  <div class="form-label">
    我慢したもの
  </div>

  <div class="form-label-show">
    <%= @saving.title %>
  </div>
 </div>

 <div class="form-group">
  <div class="form-label">
    金額
  </div>

  <div class="form-label-show">
    <%= @saving.amount %>
  </div>
 </div>

 <div class="form-group">
  <div class="form-label">
    日付
  </div>

  <div class="form-label-show">
    <%= @saving.created_at %>
  </div>
 </div>

 <div style="display: flex;">
  <%= link_to '編集', edit_saving_path(@saving), class: 'btn-edit' %>
  <%= button_to '削除', saving_path(@saving), method: :delete, data: { turbo_confirm: '本当に削除しますか？' }, class: 'btn-delete' %>
 </div>

 <div class="back-link-container">
  <%= link_to '戻る', savings_path, class: 'back-link' %>
 </div>
</div>