<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header>
      <nav style="background-color: #808080; padding: 1rem">
        <ul style="list-style: none; display: flex; gap: 2rem; margin: 0; padding: 0;">
          <li><%= link_to '貯金記録一覧', savings_path, style: 'color: white; text-decoration: none;' %></li>
        </ul>
      </nav>
    </header>

     <% if flash[:notice] %>
      <div style="background-color: #d4edda; color: #155724; padding: 1rem; margin: 1rem; border: 1px solid #c3e6cb; border-radius: 4px;">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div style="background-color: #f8d7da; color: #721c24; padding: 1rem; margin: 1rem; border: 1px solid #f5c6cb; border-radius: 4px;">
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
